:root {
  --primary-light: rgba(52, 211, 153, 0.1);
  --primary: rgb(16, 185, 129);
  --primary-hover: #0c8a60;
  --primary-hover-bg: rgb(213, 242, 232);
  --white: #ffffff;
  --black: rgb(24, 24, 27);
  --greyLightBg: rgb(249, 250, 251);
  --greyLight: rgb(229, 231, 235);
  --greyDark: rgb(161, 161, 170);
  --nonActive: rgb(255, 195, 0);
  --nonActiveLighter: #cc9c00;
  --font-main: "Sofia Sans", sans-serif;
  --size-mid: 1.15rem;
  --size-regular: 1.4rem;
  --size-large: 2rem;
  --size-small-bertha: 3rem;
  --size-big-bertha: 4.5rem;
}
