#header-about {
  display: flex;
  margin-top: 3rem;
}

#about-container {
  line-height: 2.5rem;
}

#me-image {
  display: flex;
  justify-content: center;
  margin: 1rem -2rem;
  
  & #swiss-screen {
    width: 100%
  }
}