.button {
  font-size: $size-regular;
  font-weight: 400;
  background-color: var(--primary-light);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.icon {
  margin-right: 0.5rem;
}