.button {
  font-size: $size-mid;
  font-weight: 400;
  background-color: var(--primary-light);
  color: var(--primary);
  padding: 0.75rem 1rem;
  border-radius: 12px;
}

.icon {
  margin-right: 0.75rem;
}

.pill {
  cursor: pointer;
}