.button {
  font-size: $size-mid;
  font-weight: 400;
  background-color: var(--primary-light);
  color: var(--primary);
  padding: 0.75rem 1rem;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    color: adjust-color(rgb(16, 185, 129), $lightness: -10%);
    background-color: rgba(213,242,232,255);
  }
}

.icon {
  margin-right: 0.75rem;
}

.pill {
  cursor: pointer;
}