@media only screen and (min-width: 992px) {

  // INTRO SECTION
  #intro-container {

    #profile-description {
      max-width: 70%;
    }
  }

  #title-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }

}