@media only screen and (min-width: 600px) {

  section {
    #portfolio-container {
      grid-template-columns: 1fr;
    }

    .portfolio-item {
      &.tile-large {
        grid-template-columns: 1fr 1fr;
      }

      & .tile-right {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 992px) {

  // INTRO SECTION
  #intro-container {

    #profile-description {
      max-width: 70%;
    }
  }

  #title-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }

  // PORTFOLIO
  section {
    #portfolio-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }

    .portfolio-item {
      &.tile-large {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
      }

      & .tile-right {
        margin: 0;
      }
    }
  }
}

