:root {
  --primary-light: rgba(52, 211, 153, 0.1);
  --primary: rgb(16, 185, 129);
  --primary-hover: #0c8a60;
  --primary-hover-bg: rgb(213, 242, 232);
  --white: #ffffff;
  --black: rgb(24, 24, 27);
  --greyLightBg: rgb(249, 250, 251);
  --greyLight: rgb(229, 231, 235);
  --greyDark: rgb(161, 161, 170);
  --nonActive: rgb(255, 195, 0);
  --nonActiveLighter: #cc9c00;
  --font-main: "Sofia Sans", sans-serif;
  --size-mid: 1.15rem;
  --size-regular: 1.4rem;
  --size-large: 2rem;
  --size-small-bertha: 3rem;
  --size-big-bertha: 4.5rem;
}

html::selection {
  background-color: var(--primary);
  color: var(--white);
}

h1 {
  font-size: var(--size-small-bertha);
  font-weight: 400;
  margin: 0;
  line-height: 5rem;
}

h2,
.heading {
  font-size: var(--size-large);
  font-weight: 400;
  line-height: normal;
}

h3,
.para {
  font-size: var(--size-regular);
  font-weight: 400;
  margin: 0;
}

.para {
  color: var(--greyDark);
  margin: 2rem 0;
}

h4 {
  font-size: var(--size-mid);
  color: var(--black);
  margin: 0;
  line-height: normal;
}

.accent-colour {
  color: var(--primary);
}

.black {
  color: var(--black);
}

.timeline-container {
  font-family: var(--font-main);
}

.tile-text {
  color: var(--greyDark);
  line-height: 1.5rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.site-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: var(--greyLightBg);
  font-family: var(--font-main);
  color: var(--black);
  font-weight: 300;
  padding: 0 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible {
  outline: 3px solid var(--black);
  outline-offset: 3px;
  border-radius: 8px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: var(--size-big-bertha);
  }
}
